* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

#high-scores, a {
  color: fuchsia;
  text-decoration: none;
}

main {
  width: 50%;
  margin: auto;
}

main h1 {
  text-align: center;
}

main p {
  text-align: center;
}

#start-quiz-btn {
  margin: auto;
  text-align: center;
  display: block;
}

#answers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

}

.answer-btn {
  width: 200px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  background-color: navy;
  margin: 5px;
  text-align: left;  

}

.btn:hover {
  background-color: fuchsia;
}

#correct-or-wrong {
  color: gray;
  font-style: italic;
}